<ion-content [fullscreen]="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google MAP Script -->

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg&libraries=places"
      async 
      defer>
    </script>

  </head>

  <body>

    <div id="map" class="map"></div>
    <div id="duration"></div>
    <div *ngIf="isDivVisible" id="creatingTrip">
      <p><ion-spinner name="crescent" style="color: rgb(255, 255, 255);" slot="start"></ion-spinner>Creando viaje...</p>
    </div>

    <div id="welcome">
      <label>Bienvenido: {{ nombreUsuario }}</label>
    </div>

    <ion-fab slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button color="dark" *ngIf="viajeActivo" (click)="abrirModalViaje()">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="dark" (click)="goToConfig()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" id="op-modal">
          <ion-icon name="trail-sign-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </body>

  <ion-modal #modal trigger="op-modal" [initialBreakpoint]="0.6" [breakpoints]="[0.6, 0.85]" class="iniciarViaje">
    <ng-template>
      <ion-content>
        <h1 style="text-align: center;">Iniciar viaje</h1>
        <p>Selecciona tu ubicación de inicio y destino para comenzar a buscar un conductor cercano.</p>
  
        <ion-item lines="none">
          <ion-select [(ngModel)]="ubicacionInicio" (ionChange)="onInicioChange()" label="Ubicación inicio" label-placement="stacked" required>
            <ion-select-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.value">
              {{ ubicacion.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item lines="none">
          <ion-select [(ngModel)]="ubicacionDestino" label="Ubicación destino" label-placement="stacked" required>
            <ion-select-option *ngFor="let ubicacion of getOpcionesDestino()" [value]="ubicacion.value">
              {{ ubicacion.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Costo del viaje (Por persona)</ion-label>
          <ion-input [(ngModel)]="costoViaje" placeholder="0" (ionInput)="formatCurrency($event)" (keypress)="preventNonNumeric($event)" required></ion-input>
        </ion-item>
        
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-button expand="block" color="dark" (click)="startTrip()">
                Iniciar viaje
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button expand="block" color="medium">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalViajeActivo [isOpen]="false" [initialBreakpoint]="1" [breakpoints]="[1]" class="infoViaje">
    <ng-template>
      <ion-content>
        <h1 style="text-align: center;">Información del Viaje</h1>
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-label>Inicio:</ion-label>
            <ion-text>{{ viajeActivo?.nom_inicio }}</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Destino:</ion-label>
            <ion-text>{{ viajeActivo?.nom_destino }}</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Costo:</ion-label>
            <ion-text>{{ viajeActivo?.costo_perperson }}</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Estado:</ion-label>
            <ion-text>{{ viajeActivo?.activo ? 'Activo' : 'Finalizado' }}</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Fecha:</ion-label>
            <ion-text>{{ viajeActivo?.fecha | date:'short' }}</ion-text>
          </ion-item>
        </ion-list>

        <div class="userTripQR">
          <qrcode *ngIf="codigoViaje" [qrdata]="qrViaje" [width]="180" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
  
        <ion-button expand="block" color="danger" (click)="endTrip()" style="margin-top: 10px; margin-bottom: 20px;">
          Finalizar Viaje
        </ion-button>
  
        <ion-button expand="block" color="medium" (click)="cerrarModalViaje()">
          Cerrar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
