<ion-content>
  <body style="background-color: rgb(29, 29, 29);">
    <div class="box-centered">
      <ion-card class="login-card">
        <ion-header>
          <h1>Inicio de sesion</h1>
          <p>Ingresa tu correo y<br>contraseña para ingresar</p>
        </ion-header>
        <ion-card-content [formGroup]="loginForm">
          <div class="input-container">
            <input formControlName="email" [(ngModel)]="emailValue" type="email" placeholder="Correo electrónico" class="custom-input"/>
          </div>
          <div class="input-container">
            <input formControlName="pass" [(ngModel)]="passValue" type="password" placeholder="Contraseña" class="custom-input"/>
          </div>

          <ion-grid style="padding: 0;">
            <ion-row style="padding: 0;">
              <ion-col size="9" style="padding: 0;">
                <ion-button expand="block" color="light" (click)="logIn()">
                  Iniciar sesión
                </ion-button>
              </ion-col>
              <ion-col size="3" style="padding: 0;">
                <ion-button expand="block" color="medium" (click)="goToRegister()">
                  <ion-icon name="person-add-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button color="warning" (click)="logInWithGoogle()" size="block" style="margin-top: 20px;">
            Iniciar con Google
            <ion-icon name="logo-google" slot="end"></ion-icon>
          </ion-button>

          <ion-button color="dark" (click)="logInWithGitHub()" size="block" style="margin-top: 10px;">
            Iniciar con Github
            <ion-icon name="logo-github" slot="end"></ion-icon>
          </ion-button>

        </ion-card-content>
      </ion-card>

      <p style="text-align: center;"><a href="" id="open-modal" style="color: white; text-decoration: none;">Olvidé mi clave</a></p>
      
    </div>
  </body>
</ion-content>

