<ion-content [fullscreen]="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google MAP Script -->

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg&libraries=places"
      async 
      defer>
    </script>

  </head>

  <body>

    <div id="map" class="map"></div>

    <div id="welcome">
      <label>Bienvenido: {{ nombreUsuario }}</label>
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="dark" (click)="goToConfig()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" id="op-modal">
          <ion-icon name="scan-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </body>

  <ion-modal #modal trigger="op-modal" [initialBreakpoint]="[0.3]" [breakpoints]="[0.3, 0.85, 1]" class="iniciarViaje">
    <ng-template>
      <ion-content>
        <h1 style="text-align: center;">Selecciona un conductor</h1>
        <p>Selecciona un conductor de tu preferencia para unirte a un viaje.</p>
  
        <ion-list class="driversList">
          <div *ngFor="let usuario of usuarios">
            <ng-container *ngIf="usuario.tipo === 'conductor' && usuario.activo">
              <ion-item lines="none" (click)="joinTrip()" class="clickable-item">
                <ion-avatar slot="start">
                  <img [src]="usuario.img_usuario || 'assets/usuarios/default-user.png'" alt="{{ usuario.nombre }} {{ usuario.apellido }}">
                </ion-avatar>
                <ion-label>
                  <h3><b>{{ usuario.nombre }} {{ usuario.apellido }}</b></h3>
                  <label style="color: rgba(150, 255, 2, 0.68); font-size: 10px; text-align: left;">
                    Activo
                  </label>
                </ion-label>
              </ion-item>
            </ng-container>
          </div>
        </ion-list>                
  
        <h1 style="text-align: center;">o Escanea un QR</h1>
        <p>Escanea el codigo generado por un conductor para unirte al viaje.</p>
  
        <ion-button *ngIf="!isScanned" expand="block" color="light" (click)="startScan()" style="margin: 0 20px;">
          <ion-icon name="qr-code-outline" slot="start"></ion-icon>
          Escanear QR
        </ion-button>

        <ion-card *ngIf="conductorInfo" class="tripCard">
          <!-- Información del conductor -->
          <ion-card-header>
            <ion-card-title>{{ conductorInfo?.nombre }} {{ conductorInfo?.apellido }}</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <p><strong>Telefono:</strong> {{ conductorInfo?.telefono }}</p>
            
            <!-- Información del vehículo -->
            <div *ngIf="vehiculoInfo">
              <h3>Vehículo:</h3>
              <p>{{ vehiculoInfo?.marca }} {{ vehiculoInfo?.modelo }}</p>
              <p>Color: {{ vehiculoInfo?.color }}</p>
              <img [src]="vehiculoInfo?.img_vehiculo" alt="Imagen del vehículo" style="width: 100%; height: auto;">
            </div>
          </ion-card-content>
        </ion-card>              
        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
