<ion-content [fullscreen]="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google MAP Script -->

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg&callback=googleMapsCallback&v=beta&t=${new Date().getTime()}">
    </script>

  </head>

  <body>

    <div id="map" class="map"></div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="dark" (click)="goToConfig()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" id="op-modal">
          <ion-icon name="scan-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </body>

  <ion-modal #modal trigger="op-modal" [initialBreakpoint]="0.3" [breakpoints]="[0.85]" class="iniciarViaje">
    <ng-template>
      <ion-content>

        <h1 style="text-align: center;">Selecciona un conductor</h1>
        <p>Selecciona un conductor de tu preferencia para unirte a un viaje.</p>

        <ion-card *ngFor="let usuario of usuarios" class="user-item" [button]="true" (click)="joinTrip()">
          <ion-card-content *ngIf="usuario.tipo === 'conductor' && usuario.activo === true" class="inner-item">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img [src]="usuario.img_usuario || 'assets/usuarios/default-user.png'" alt="{{ usuario.nombre }} {{ usuario.apellido }}">
              </ion-avatar>
              <ion-label>
                <h3><b>{{ usuario.nombre }} {{ usuario.apellido }}</b></h3>
                <ion-label *ngIf="usuario.activo === true" style="color: rgba(150, 255, 2, 0.68); text-transform: capitalize; font-size: 10px;">
                  {{ usuario.activo }}
                </ion-label>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>        

        <h1 style="text-align: center;">o Escanea un QR</h1>
        <p>Escanea el codigo generado por un conductor para unirte al viaje.</p>

        <ion-button expand="block" color="light" (click)="startScan()" style="margin: 0 20px;">
          Escanear QR
        </ion-button>
        
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
