<ion-content [fullscreen]="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google MAP Script -->

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg&libraries=places"
      async 
      defer>
    </script>

  </head>

  <body>

    <div id="map" class="map"></div>
    <div id="duration"></div>

    <div id="simbology">
      <h5 style="text-align: center;">Simbologia</h5>
      <label><ion-icon name="radio-button-on-outline" slot="start" style="color: #6C6C6C;"></ion-icon> Ruta a pie</label><br>
      <label><ion-icon name="radio-button-on-outline" slot="start" style="color: #373737"></ion-icon> Ruta a vehiculo</label>
    </div>

    <div id="welcome">
      <label>Bienvenido: {{ nombreUsuario }}</label>
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="dark" (click)="goToConfig()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" id="op-modal">
          <ion-icon name="scan-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </body>

  <ion-modal #modal trigger="op-modal" [initialBreakpoint]="[0.43]" [breakpoints]="[0.43, 1]" class="iniciarViaje">
    <ng-template>
      <ion-content>
        <h1 style="text-align: center;">Selecciona un conductor</h1>
        <p>Selecciona un conductor de tu preferencia para unirte a un viaje.</p>
  
        <ion-list class="tripsList">
          <div *ngFor="let viaje of viajes">
            <ng-container *ngIf="viaje.activo">
              <ion-item lines="none" class="clickable-item">
                <ion-label>
                  <p><b>Desde:</b> {{ viaje.nom_inicio }}</p>
                  <p><b>Hacia:</b> {{ viaje.nom_destino }}</p>
                  <label style="color: rgba(150, 255, 2, 0.68); font-size: 10px; text-align: left;">
                    Viaje actualmente activo
                  </label>
                </ion-label>
              </ion-item>
            </ng-container>
          </div>
        </ion-list>              
        
        <div *ngIf="!isScanned">
          <h1 style="text-align: center;">o Escanea un QR</h1>
          <p>Escanea el codigo generado por un conductor para unirte al viaje.</p>
        </div>
  
        <ion-button *ngIf="!isScanned" expand="block" color="light" (click)="startScan()" style="margin: 0 20px;">
          <ion-icon name="qr-code-outline" slot="start"></ion-icon>
          Escanear QR
        </ion-button>

        <ion-card *ngIf="conductorInfo" class="tripCard">
          <ion-card-content>

            <!-- Información del conductor -->

            <ion-card-title>Tu conductor</ion-card-title>
            <p><strong>Nombre:</strong> {{ conductorInfo?.nombre }} {{ conductorInfo?.apellido }}</p>
            <p><strong>Telefono:</strong> {{ conductorInfo?.telefono }}</p>
            <p><strong>RUT:</strong> {{ conductorInfo?.rut }}</p>
            
            <!-- Información del vehículo -->

            <ion-card-title style="margin: 0;">Su vehiculo</ion-card-title>

            <div *ngIf="vehiculoInfo">
              <p>{{ vehiculoInfo?.marca }} {{ vehiculoInfo?.modelo }} <strong>{{ vehiculoInfo?.color }}</strong></p>
              <p><strong>Patente: </strong> {{ vehiculoInfo?.patente }}</p>
              <img [src]="vehiculoInfo?.img_vehiculo" alt="Imagen del vehículo" style="width: 100%; height: auto;">
            </div>
            
            <!-- Información del viaje -->

            <ion-card-title style="margin: 0;">Su viaje</ion-card-title>

            <div *ngIf="viajeInfo">
              <p style="color: rgba(255,255,255,0.5); font-size: 12px; text-align: center;">Codigo de viaje: {{ viajeInfo?.codigo }}</p>
              <p style="color: rgba(255,255,255,0.3); font-size: 10px; text-align: center; padding: 0; margin-bottom: 10px;">Fecha de creación: {{ viajeInfo?.fecha?.toDate() | date: 'short' }}</p>
              <p><strong>Inicio:</strong> {{ viajeInfo?.nom_inicio}}</p>
              <p><strong>Destino:</strong> {{ viajeInfo?.nom_destino}}</p>
              <!-- Pasajeros -->
              <ion-card-title style="margin: 0;">Pasajeros</ion-card-title>
              <div *ngIf="viajeInfo?.pasajeros?.length > 0">
                <ul>
                  <li *ngFor="let pasajero of viajeInfo.pasajeros">
                    <p>{{ pasajero.nombre }} - Estado: {{ pasajero.estado }}</p>
                  </li>
                </ul>
              </div>
              <div *ngIf="viajeInfo?.pasajeros?.length === 0">
                <p>No hay pasajeros aún.</p>
              </div>
              <p><strong>Costo (por persona)</strong></p>
              
              <p style="font-size: 30px; color: rgb(38, 70, 54); text-align: right;">{{ viajeInfo?.costo_perperson }}</p>
            </div>

          </ion-card-content>
        </ion-card>             
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
