ion-card {
  box-shadow: none;
}

.user-info-card {
    
    --background: rgb(24,24,24);

    ion-card-header {
      display: flex;
      align-items: center;
      ion-avatar {
        margin-right: 15px;
      }
    }

    ion-card-title {
      font-size: 1.5em;
      font-weight: bold;
      color: white;
    }

    ion-card-subtitle {
      font-size: 1em;
      color: white;
    }

    img {
        margin: 10px 0;
        margin-top: 20px;
        border-radius: 100%;
    }
}

.avatar-container {
    position: relative;
    display: inline-block;
  }
  
  .avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  .edit-icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

ion-header {
  --background: rgb(24,24,24);

  ion-toolbar {
    --background: rgb(20,20,20);
  }
}

ion-list {
  padding: 0;
}

ion-content {
  --background: rgb(24,24,24);
  color: white;

  ion-card-content h2, ion-card-content p {
    color: white;
  }

  ion-input {
    color: white;

    ::placeholder {
      color: white;
    }
  }
}

ion-item {
  --background: rgb(24,24,24);
}
  